<!-- ========== HEADER ========== -->
<header id="header"
				class="u-header u-header--bg-transparent u-header--abs-top u-header-center-aligned-nav u-header--center-aligned-lg position-relative">
	<div class="u-header__section">
		<div id="logoAndNav" class="container">

			<nav class="space-top-1 nav nav-pills justify-content-between flex-column flex-sm-row">
				<div class="mt-2 p-0 mt-lg-0 text-center text-md-left nav-link">
					<b>Radno vreme</b><br>Pon - Pet: 08:00 - 16:00
				</div>
				<a class="mt-2 pt-2 pb-2 pl-4 pr-4 mt-lg-0 text-center nav-link btn btn-primary"
					 href="stamparija/kontakt.html" style="font-size: 16px; line-height: 1.6;">Kontakt</a>
			</nav>

		</div>
	</div>
</header>
<!-- ========== END HEADER ========== -->
